:root {
    --background-color: #E9EFFF;
    --darkred-color: #FF0000;
    --lightgray-color: #D1D1D1;
    --dark-color: #000000;
}

/*all page style*/
body {
    background-color: var(--background-color);
    margin: 0px;
    padding: opx;
    font-family: 'Montserrat';
    font-style: normal;
}





/*mobile style*/
@media only screen and (max-width:943px) {

    .phone-icon {
        margin-top: 15%;
    }
    
    .figma-icon {
        margin-left: 10%;
        width: 3%;
        margin-bottom: 5%;
        margin-top: -10%;
    }
    
    .line-icon {
        margin-left: 5%;
        width: 4%;
        margin-right: 53%;
        margin-bottom: 5%;
        margin-top: -10%;
    }

    .wifi-icon {
        width: 4%;
        margin-bottom: 5%;
        margin-top: -10%;
    }

    .battery-icon {
        margin-left: 5%;
        width: 4%;
        margin-bottom: 5%;
        margin-top: -10%;
    }

    .logo {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 60%;
        margin-bottom: 1em;
    }

    div a img {
        width: 20%;
    }

    main div {
        margin-top: 10%;
    }
    main a {
        text-decoration: none;
        color: #000000;
    }

    .Home {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .p-p {
        margin-left: 10%;
    }


    .home-icon {
        margin-left: 38%;
        display: block;
        font-size: 4vw;
        width: 50%;
    }

    .product-icon {
        margin-left: 39%;
        display: block;
        font-size: 4vw;
        width: 43%;
    }

    .about-icon {
        margin-left: 38%;
        display: block;
        font-size: 4vw;
        width: 45%;
    }
  
    .contact-icon {
        margin-left: 38%;
        display: block;
        font-size: 4vw;
        width: 45%;
    }

    footer section img {
        width: 50%;
    }

    .info {
        display: flex;
        font-size: 2vw;
        margin-left: 5%;
        margin-top: 20%;
        margin-bottom: 10%;
        
    }
    
    
    .p-2 {
        margin-left: -5.5%;
        margin-top: 2.3em;
        margin-right: 4%;
        text-decoration: underline;
    }
    
    .Email {
        margin-left: 10%;
        margin-top: 3em;
    }
    
    .address {
        margin-top: 3em;
    }

    .p-1 {
        margin-left: -2%;
    }

    .Facebook-icon {
        margin-left: 5%;
        margin-top: 3em;
    }

    .Instagram-icon {
        margin-top: 3em;
    }
    
    .copyright {
        text-align: center;
        font-size: 2vw;
    }

}

/*desktop style*/
@media only screen and (min-width:944px) {

    .hide, .phone-icon, body {
        display: none;
    }

}